.container {
  padding: 20px;
  border: 1px dotted #6e93ff;
}
.json-container {
  width: 500px;
  height: 150px;
}
.ifelseInput {
  width: 300px;
}
.thenElseContainer {
  padding: 5px;
  border: 1px solid #6e93ff;
}
.text {
  margin-left: 10px;
  color: #6e93ff;
  font-size: 14px;
}
