.conditionSelect {
  width: 100px;
}
.rules-margin {
  margin-left: 30px;
  padding: 5px;
  border: 1px solid #6e93ff;
}
.ruleset-margin {
  padding: 5px;
  border: 1px solid #6e93ff;
}
.columnSelect {
  width: 150px;
}
.operatorSelect {
  width: 120px;
  margin: 0px 15px;
}
